<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/design.css" th:href="@{../css/design.css}">
    <title>Laptop Cloud</title>
</head>

<body>
<header id="header">
    <img id="header-img"
         src="https://www.freepnglogos.com/uploads/hacker-png/hacker-png-images-download-crazypngm-crazy-20.png"/>
    <div id="nav-bar">
        <a class="nav-link" href="http://localhost:8080/profile">Профиль</a>
        <a class="nav-link" href="http://localhost:8080/favouritesList">Избранное</a>
        <a class="nav-link" href="http://localhost:8080/cart">Корзина</a>
    </div>
</header>
<section id="main">
    <form method="POST" th:action="@{/}" th:object="${cart}">
        <div class="laptop-group grid">
            <div class="laptop-tale" th:each="laptop : ${laptops}">
                <img class="lap-img"
                     src="https://www.freepnglogos.com/uploads/laptop-png/laptop-transparent-png-pictures-icons-and-png-40.png">
                <div id="grid">
                    <span class="ing-name" th:text="${laptop.name}">laptop</span>
                    <label>Процессор:</label>
                    <span class="ing-name" th:text="${laptop.cpu}">laptop_cpu</span><br/>
                    <label>SSD:</label>
                    <span class="ing-name" th:text="${laptop.ssd}">laptop_ssd</span><br/>
                    <label>Операционная система:</label>
                    <span class="ing-name" th:text="${laptop.os}">laptop_os</span><br/>
                </div>
                <a id="fav-but" th:href="@{/favorites/{id}(id=${laptop.id})}"
                   th:text="${laptop.isFavorite} ? 'Remove from favorites': 'Favorite'">
                </a>
                <input class="ing-name1" th:field="*{laptops}" type="checkbox"
                       th:value="${laptop.id}"/>
            </div>
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('laptops')}"
              th:errors="*{laptops}">Error</span>
        <div id="in-but">
            <input type="submit" id="submit" value="В корзину">
        </div>
    </form>
</section>
</body>
</html>
